#home {
    height: calc(100vh - 135px);
    .md-list-item-text {
        padding: 1em;
        &:first-child {
            width: 70%;
            min-width: 70%;
        }
        i {
            float: right;
            padding: 0 10px;
        }
    }
    .content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .md-list-item-text {
        >p:last-child {
            font-size: 12px;
        }
    }
}
