#comments {
	height: calc(100vh - 135px);

	.comment {
		margin: 0 auto;
		padding: 1em;
		margin-top: 1em;
	}
	.fade.ng-enter, .fade.ng-leave {
		@include transition(all .2s ease-in-out);
	}
	.fade.ng-enter {
		-webkit-transform: translate3d(0, 1000px, 0);
		-moz-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0);
	}
	.fade.ng-enter-active {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.fade.ng-leave-active {
		opacity: 0;
		height: 0px !important;
		padding-bottom: 0px !important;
		padding-top: 0px !important;
	}
}